[2018-10-01 14:01] jamesgeorge007 opened #12 "Quick start"
Update docs with the folllowing content:

[code]

[2018-10-01 14:09] itsVagabond commented on #12
@jamesgeorge007 on it !

[2018-10-01 15:50] jamesgeorge007 opened #14 "Contributors guide"
Add appropriate contributors guide, listing out the steps involved.
- [ ] Fork the repository
- [ ] Make your required changes
- [ ] Commit those in a separate branch
- [ ] Submit a PR for review

[2018-10-01 15:54] nathfreder commented on #14
I'll take this on!

[2018-10-01 16:04] jamesgeorge007 opened #15 "Acknowledgements section"
Add appropriate content listing out inspirations. You can find a ```docs``` directory with a ```Readme.md``` file. Just have your changes there :+1:

[2018-10-01 16:40] alanmathew333 opened #17 "Unhandled Warning"
Repeated execution of server commands like:-

mevn-cli create:controller
mevn-cli create:route
...
will create the file but the repeated execution of these commands will note prompt warnings like
"The file already exist and do you wish to create anyway" and receiving user input as yes/no.

[2018-10-01 18:02] darrylpargeter commented on #17
Hey, would it be possible to tackle this one?

[2018-10-01 18:13] phoenix1796 commented on #15
I'd like to work on this!

[2018-10-02 02:39] jamesgeorge007 commented on #15
@phoenix1796 Sure go on :smile:

[2018-10-02 02:41] jamesgeorge007 commented on #17
I shall supply more details about the bug since one can't infer from what is already provided :+1:

[2018-10-02 05:03] #14 closed

[2018-10-04 13:57] jamesgeorge007 commented on #17
This is made possible with mevn-cli create:<required_option> which will create the respective file for the very first time.
Firing in the command again is not handled properly. What was intended is to warn the users with a suitable message, such as the file was already created or similar.

Check out the below screenshot:

![screenshot from 2018-10-04 19-21-59](https://user-images.githubusercontent

[2018-10-04 15:21] darrylpargeter commented on #17
So would you want it to warn and get permission to overwrite the file as mentioned in the first comment or to kill the process so the user dosen't accidentally overwrite the file with a message explaining why it wasn't created?

[2018-10-04 16:41] alanmathew333 commented on #17
To warn and get permission to overwrite the file, if answer provided by the user is yes and to kill the process if the answer is NO

[2018-10-05 12:15] alanmathew333 commented on #17
@darrylpargeter great job :+1:

[2018-10-05 13:10] #17 closed

[2018-10-06 06:03] ajomadlabs opened #22 "Add Proper Comments"
Code base requires proper comments such that it will help make the code base more easy to ready
and more over help new contributors to get started easily

[2018-10-06 11:39] jamesgeorge007 opened #26 "Add SSR option with Nuxt.js"
Currently the user is welcomed with 3 options (Boilerplate):
- Basic
- PWA
- GraphQL

Further he/she should be prompted to go with either `Universal` / `SPA`

[2018-10-07 07:41] Apoorva-13 commented on #26
Hi i would like to work on this?? But can u help me get started with this. I am new to Node

[2018-10-09 15:25] jamesgeorge007 opened #28 "Implement GraphQL"
For now the server part supports only traditional RESTful API which has to be extended with GraphQL.

[2018-10-09 15:28] jamesgeorge007 opened #29 "Set up vue-apollo client"
Set up vue-apollo to integrate GraphQL within the client part.

[2018-10-09 15:38] jamesgeorge007 opened #30 "Add Gifs within Docs"
Add Gifs within the Docs part demonstrating each command with description for each section.

- Initialising the project
- Create routes
- Create model file
- Create controller file
- Create config file
- Running server and client

[2018-10-09 15:39] alanmathew333 opened #31 "Replace Docker Image (alpine-node to nginx)"
Replace the current docker image name, mhart/alpine-node:10 with nginx (latest version) on the Dockerfile present in client directory.

[2018-10-09 15:40] jamesgeorge007 opened #32 "Automate heroku deployment"
Add ``` mevn-cli deploy ``` command that deploys the web-app to heroku

[2018-10-09 15:44] #31 closed

[2018-10-09 15:56] jamesgeorge007 opened #33 "Add Project Hierarchy"
Add a section that throws light into the overall view of the project structure.
This may include the various directories and files included in a hierarchical manner.

[2018-10-09 15:57] jamesgeorge007 opened #34 "Add changelog"
Add changelog (```version-history```) to the Docs listing couple of recent commit history.

[2018-10-09 15:59] jamesgeorge007 opened #35 "Add Copyright and License"
Add a footer section comprising of the license (MIT) and copyright information.

[2018-10-09 16:13] jamesgeorge007 opened #36 "Add support for Vuetify"
Provide support for ```vuetify``` client plugin as required by the user.

[2018-10-09 16:36] jamesgeorge007 opened #39 "Add option to generate new components"
Add required command, for instance ``` mevn-cli generate:component <new_component>```

[2018-10-09 17:08] #35 closed

[2018-10-09 17:21] konsvasi commented on #39
Hey, I would like to try with issue out. Can you tell me how to run the project so that I can see my changes?

[2018-10-09 17:22] eugeniumegherea commented on #39
could you provide the file to be used for component?

[2018-10-09 18:27] konsvasi commented on #39
Do I need to also update the mevn boiler plate somehow so that it creates a component folder in the server folder when I initialize a project? I've added code so that I can create a component file and put it in the server folder but this folder isn't created from the mevn-cli and after some research I believe that this folder structure is being pulled from the git project in the config.js file.

[2018-10-10 11:45] jamesgeorge007 commented on #26
@Apoorva-13 Check out [Node school](https://nodeschool.io)

[2018-10-10 11:50] jamesgeorge007 commented on #39
@konsvasi As of now make a fresh new Vue component file with the name given by the user. It is to be extended with couple of boilerplate code so that it makes more sense :+1:

[2018-10-10 11:51] ajomadlabs commented on #39
@konsvasi @eugeniumegherea  Great to see your interest. I guess this issue was bit misleading as it was not very clear. We have anyways updated the issue description. This issue intend to create a command which helps to create vue component easily inside the component folder. On creating the vue file it would be great if the file created could also have a
`<template></template>`
`<style></style>`

[2018-10-10 12:01] konsvasi commented on #39
@ajomadlabs Ok, now this is clear. But where is the components folder? When I build the project the server folder doesn't have a component folder.

[2018-10-10 12:02] jamesgeorge007 commented on #39
@konsvasi What you have to work is within the client directory.

[2018-10-10 12:14] konsvasi commented on #39
Ok, found it. I'll work on it. Thanks for the help :+1:

[2018-10-10 13:17] jamesgeorge007 opened #40 "Add vuex state management"
Make the provision to add state management within the client part which asks the user whether he would require vuex for the current project.

[2018-10-10 13:18] jamesgeorge007 opened #41 "Add vue-routing"
All the dependencies such as ```vue-router``` has to be linked up on prompting the user whether he would require it or not.

[2018-10-10 13:19] jamesgeorge007 opened #42 "Add validation for client"
Ask the user whether he would require pre-available validation plugins like vee-validate and add those dependencies.

[2018-10-10 13:20] jamesgeorge007 opened #43 "Implement vue unit testing"
Provide support for testing components in isolation (Unit-Testing)

[2018-10-10 13:22] jamesgeorge007 opened #44 "Implement passport auth middleware"
Ask the user whether he requires passport middleware for authentication and install the required dependencies.

[2018-10-10 13:36] jamesgeorge007 opened #45 "Add axios dependency"
Ask the user whether he requires axios to link up the client and server part. If so, add the required dependencies and couple of boilerplate code.

[2018-10-10 13:57] virenb commented on #45
I added axios package to dependencies in the package.json file.

[2018-10-10 14:30] ajomadlabs commented on #45
@virenb Great to see your interest :smile: Currently you have just added the axios package but according to the requirements we need to have
- command `mevn-cli add:package <package_name>`
- On entering this command, we need to list the packages we support. At present just show axios.
- User on selecting axios, we need to install that package in the package.json file of the boilerplate code thats

[2018-10-10 15:12] konsvasi commented on #42
I'll try it out. Are there any other validation plugins that I should take into consideration?

[2018-10-11 01:19] ajomadlabs commented on #42
@konsvasi Sure you go on :+1: Before start I would like to elaborate the requirement. For this issue we need
- command `mevn-cli add:package`
- On entering this command, we need to list the packages we support. At present just show vee-validate.
- User on selecting vee-validate, we need to install that package in the package.json file of the boilerplate code thats already been downloaded

Do comme

[2018-10-11 04:30] konsvasi commented on #42
That's how I imagined it. Thanks

[2018-10-11 12:19] jamesgeorge007 opened #49 "Implement code splitting"
The user should be able to provide code split a particular component as specified.

For instance, ```mevn-cli codesplit <component> should change the content within the routes file of the respective component to the code splitting way.

[2018-10-11 12:21] jamesgeorge007 opened #50 "Provide support for webpack 4"
Migration from `webpack v3` to `v4` requires a lot of manual configurations which has to be automated with a particular command.

[2018-10-11 13:02] ajomadlabs commented on #28
@JoshDev1205 Sure go on. Yeah we can go with creating boilerplate for both server and client that supports graphql

[2018-10-12 02:54] #45 closed

[2018-10-12 13:03] jamesgeorge007 commented on #28
@JoshDev1205 For the boilerplate part there is already a basic boilerplate available
[here(https://github.com/MadlabsInc/mevn-boilerplate). You may clone this repository and add the additional dependencies required within the ```client``` and ```server``` part.

[2018-10-12 13:07] jamesgeorge007 opened #52 "mevn-cli website homepage"
As per now what we have is just the documentation part done in vuepress. We require a homepage that will serve the purpose of an intro section having a brief description of the tool.

For this you are required to work with the  ```README.md``` file within ```docs``` directory.

[2018-10-12 13:09] jamesgeorge007 commented on #34
#37

[2018-10-12 13:09] #34 closed

[2018-10-14 13:29] #40 closed

[2018-10-14 13:36] jamesgeorge007 opened #53 "Add vuex configuration"
The ```vuex``` package can be added via the ```add:package``` command. As per now, it installs the package and adds it to package.json file. It also creates a ```store.js``` file with the initial boilerplate within  ```client/src``` directory.

The new ```store.js``` file has to be imported and passed on to the Vue instance. Importing store file is already done which still is not perfect. If the u

[2018-10-21 15:29] konsvasi commented on #44
At what point in the app will this question be asked to the user? If the answer is yes do you just want to do an `npm install` of the package? It's similar to the other issues that I've worked on and I believe that I can solve it.

[2018-10-21 16:40] jamesgeorge007 commented on #44
Thank you once again for showing interest :+1: Yup, it involves installing the required package as in the earlier cases. It would be great if you could populate the routes file with say a ```login``` end-point having  authentication implemented by passport middleware.
Additionally the user should also be asked whether he require social media authentication that comes as part of passport.

[2018-10-22 04:57] konsvasi commented on #44
Okay, I'll take a look at it

[2018-10-22 18:08] konsvasi commented on #44
Can you check my [commit](https://github.com/konsvasi/mevn-cli/commit/d1a2d7dcf00c447579a1261a97b9296a379a9c56) and tell me if it is okay, especially the new `index_with_passport.js` file. Is this how you had it in mind? If it's okay than I'll go on with the social media authentication.

[2018-10-23 08:20] jamesgeorge007 commented on #44
LGTM Go ahead :+1:

[2018-10-23 17:28] jamesjose03 commented on #52
Working on it 😄 @jamesgeorge007

[2018-10-23 18:17] alwindani commented on #41
👍

[2018-10-23 19:17] jamesgeorge007 commented on #52
:+1:

[2018-10-24 10:58] ajomadlabs commented on #52
Issue Fixed

[2018-10-24 10:58] #52 closed

[2018-10-24 14:16] #44 closed

[2018-10-26 04:08] #33 closed

[2018-10-31 06:21] scriptonist opened #59 "Capitalise Cli ?"
![mevn cli - mozilla firefox_011](https://user-images.githubusercontent.com/8335904/47769132-bae35800-dd00-11e8-8df5-31b4446b21c8.png)

CLI is an Abbreviation so It should Ideally be capitalised right ?

Thoughts :thinking:

[2018-11-02 17:23] #59 closed, assigned to nobody

[2018-11-02 18:45] #41 closed

[2018-11-02 18:45] #36 closed

[2018-11-02 18:46] #15 closed

[2018-11-02 18:47] jamesgeorge007 commented on #30
Docs as per now doesn't seem require GIF's demonstrating each and every process since it is self explanatory.

[2018-11-02 18:47] #30 closed

[2018-11-02 18:47] #32 closed

[2018-11-29 10:04] #28 closed

[2018-11-29 10:04] #29 closed

[2019-01-01 13:27] jamesgeorge007 opened #61 "Warn the user if projectName violates npm conventions"
Presently, `mevn-cli init` doesn't warn if the user gives in special characters for the ProjectName.

[2019-01-02 13:13] #61 closed

[2019-01-12 15:43] jamesjose03 opened #62 "Fix Linting Errors"
Clean up the code as per JShint linter rules.

[2019-01-12 17:11] jamesjose03 commented on #62
Solved in #63

[2019-01-12 17:11] #62 closed

[2019-01-26 17:10] #26 closed

[2019-02-07 08:12] jamesgeorge007 opened #64 "Integrate SQL databases"
Currently `MEVN-cli` only supports MongoDB and with this addition we could expand our tool to allow integration of SQL Databases. Also, the necessary configurations for ORM's like `sequelize` and `perisma has to be automated.

[2019-02-07 08:14] jamesgeorge007 opened #65 "Provide support for prisma DB tool"
Prisma replaces traditional ORMs and custom data access layers with a universal database abstraction used via the Prisma client. It provides Type-safe database access including filters, aggregations, pagination and transactions.
The necessary configurations is to be automated as required.

[2019-02-07 08:16] jamesgeorge007 opened #66 "Choose between any popular server side frameworks"
Currently, `Mevn-CLI` supports only `express.js` when it comes to the server side framework. But there other frameworks growing in popularity just like `Hapi.js`, `Sails.js` etc.

[2019-02-07 08:17] jamesgeorge007 opened #67 "Adding UI for MEVN-cli"
With this we plan to create a ui for MEVN-cli tool which will help developers to add packages and integrations, basically execute different commands used in cli via a ui which would be running locally.

[2019-02-15 18:24] jamesgeorge007 opened #71 "Warn the user if docker is not installed"
## Present scenario

Currently, `mevn dockerize` expects to have access to `docker-compose` within the machine. It crashes yelling that `docker-compose` not found which is a default message as thrown by the system.

## What is to be done

Handle the failing case such that a custom message is shown instead. Also, there should be a prompt asking the user if he/she should get it installed (Y/N) and g

[2019-02-15 18:28] jamesgeorge007 opened #72 "Warn the user if git is not installed"
## Present scenario

Currently, `mevn create:git-repo` expects to have access to `git` within the machine. A default error message is thrown.

## What is to be done

Handle the failing case such that a custom message is shown instead. Also, there should be a prompt asking the user if he/she should get it installed (Y/N) and go forward with the installation.

[2019-02-15 18:30] jamesgeorge007 opened #73 "Install heroku-cli on the go"
## Present scenario

Currently, `mevn deploy` expects to have access to `heroku` within the machine. The process crashes with a default message if otherwise.

## What is to be done

Handle the failing case such that a custom message is shown instead. Also, there should be a prompt asking the user if he/she should get it installed (Y/N) and go forward with the installation.

[2019-02-17 16:13] jamesgeorge007 opened #74 "Add provision to have pwa support for Nuxt-js template"
Currently, the user can only have the basic template if he chooses `Nuxt-js` from the list.
It should be made such that the user will be prompted whether he/she requires `pwa` support after making the selection as mentioned above.
See these [guidelines](https://pwa.nuxtjs.org/setup.html)

[2019-02-18 06:14] aquibbaig commented on #72
I would like to work on this @jamesgeorge007

[2019-02-18 15:02] jamesgeorge007 commented on #72
@aquibbaig Sure, go ahead :+1:

[2019-02-18 15:59] jamesjose03 opened #76 "Update all instances of mevn-cli within docs"
### Minor Documentation Fix
Replace all occurrences of `mevn-cli` with `mevn`
Here is the file to work with:  [README.md](https://github.com/madlabsinc/mevn-cli/tree/master/docs/guide)

[2019-02-18 16:04] jamesjose03 opened #77 "Update File Hierarchy"
Update the file hierarchy in docs according to the latest changes.
Here's the file to work with: [README.md](https://github.com/madlabsinc/mevn-cli/tree/master/docs/guide)

[2019-02-18 16:08] jamesjose03 opened #78 "Separate the sections of Docs"
Separate each section of the docs into individual pages and render them only when clicked.
Here's the file to work with:  [README.md](https://github.com/madlabsinc/mevn-cli/tree/master/docs/guide)

[2019-02-18 16:10] jamesgeorge007 opened #79 "Update all instances of mevn within the list of commands"
### Present issue

On firing in `mevn init <webapp>` the user is presented with a list of available commands where it shows up `mevn-cli` instead of `mevn`

### Proposed solution

Update all the instances of `mevn-cli` with `mevn`

This is the file to work with: [initlib](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/initlib.js)

[2019-02-18 16:17] jamesjose03 opened #80 "Update File Hierarchy within docs"
Update the file hierarchy in docs according to the latest changes.
Here's the file to work with: [File Hierarchy Section](https://github.com/madlabsinc/mevn-cli/tree/master/docs/guide#file-hierarchy)

[2019-02-19 08:15] jamesgeorge007 opened #81 "Add prompts for additional features ensuring code quality"
Add prompt such that the user is required to decide whether he/she require additional features like linter, prettier etc.
Target your PR against [init](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/initlib.js)

[2019-02-19 08:21] jamesgeorge007 opened #82 "Add provision to have test runners"
Add prompts such that user is required to decide whether he require any sort of test runners (Jest, Ava, Mocha) and automate all further installation procedures.
This is the file to work with: [init](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/initlib.js)

[2019-02-19 13:54] aquibbaig commented on #73
I would like to work on this issue

[2019-02-19 15:04] jamesgeorge007 commented on #73
@aquibbaig Go ahead :+1:

[2019-02-21 10:50] aquibbaig commented on #71
I want to work on this!

[2019-02-22 03:15] kamerk22 commented on #80
@jamesjose03 I can help

[2019-02-22 03:29] jamesjose03 commented on #80
@kamerk22 Sure, just go ahead.👍👍

[2019-02-22 15:32] kamerk22 commented on #79
I 've submitted to fix above issue. Sorry that I forgot to discuss it before opening PR.

[2019-02-22 15:33] kamerk22 commented on #76
I can work on this issue.

[2019-02-22 16:01] jamesjose03 commented on #76
Sure, go ahead! 😀😀

[2019-02-22 16:09] kamerk22 commented on #80
@jamesjose03 Do I need to update hierarchy with all the file in the repository? The current section having only the structure of `lib` dir and other files. [Checkout Updated One](https://github.com/kamerk22/mevn-cli/tree/master/docs/guide#file-hierarchy)

[2019-02-22 16:13] jamesjose03 commented on #80
@kamerk22 Yes, Hierarchy is to be updated with all the files.

[2019-02-23 06:08] ajomadlabs commented on #79
Fixed #83

[2019-02-23 06:08] #79 closed

[2019-02-23 06:08] ajomadlabs commented on #80
Fixed #84

[2019-02-23 06:09] ajomadlabs commented on #76
Fixed #83

[2019-02-23 08:38] kamerk22 commented on #76
@ajomadlabs This issue is not fixed. `README.md` needs to be updated.
I'm on it

[2019-02-23 08:44] kamerk22 commented on #76
@ajomadlabs Fixed!

[2019-02-23 09:50] #76 closed

[2019-02-23 10:44] jamesgeorge007 commented on #72
Fixed in #75

[2019-02-23 10:44] #72 closed

[2019-02-25 15:54] anto-christo opened #86 "[Question] Placement of mevn.json file"
Hi,
I have some doubts regarding the mevn.json file.

If I'm not wrong, the mevn.json file contains info regarding a particular project. Then why is it outside of the project directory, shouldn't it be inside the project directory since it is specific to it?

Due to the placement of mevn.json file outside the project directory, the user cannot create more than one project in the same location. Als

[2019-02-26 08:16] jamesgeorge007 commented on #86
You're right :+1:
You can see an update soon

[2019-02-26 08:17] jamesgeorge007 commented on #86
You're right :+1: There'll be an update soon

[2019-02-26 08:55] khyati18 commented on #81
Can I work on this ?

[2019-02-26 11:23] ajomadlabs commented on #81
@khyati18 Sure you can go on with it :+1:

[2019-02-28 08:45] ajomadlabs commented on #86
Fixes #87

[2019-02-28 08:45] #86 closed

[2019-03-01 08:30] aquibbaig commented on #73
I installed heroku-cli based on the OS but the deploy still fails with a message `Cannot read property compilation of undefined` in node_modules and it crashes. Can somebody help me debug that? @jamesgeorge007

[2019-03-01 08:40] agarwalrounak commented on #80
I will work on this issue.

[2019-03-01 08:41] agarwalrounak commented on #78
I will work on this issue.

[2019-03-01 08:48] ajomadlabs commented on #80
@agarwalrounak you could take this up :+1:

[2019-03-01 09:18] ajomadlabs commented on #78
@agarwalrounak Sure :+1:

[2019-03-01 09:18] ajomadlabs commented on #78
@agarwalrounak Feel free to ask your queries :smile:

[2019-03-02 16:24] jamesgeorge007 commented on #73
Let me check

[2019-03-02 17:16] jamesgeorge007 commented on #73
@aquibbaig There was an issue with one of the dependencies having a peer dependency of `webpack-4` while the boilerplate had `webpack-3`. Hope it's fine now :+1:

[2019-03-02 17:18] jamesgeorge007 commented on #73
@aquibbaig There was an issue with one of the dependencies which in-turn had a peer dependency of `webpack-4` while the boilerplate had `webpack-3`.
Hope it's fine now :+1:

[2019-03-04 07:02] jamesgeorge007 opened #90 "Avoid the callback hell and use promises instead"
Currently [gitRepo.js](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/deploy/gitRepo.js) comprises of nested callbacks making the code ambiguous. It has to be replaced with a promisified approach.

Check out [herokuDeployjs](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/deploy/herokuDeploy.js)

[2019-03-04 07:08] jamesgeorge007 opened #91 "Allow the user to choose rather than typing in yes/no for git installation"
Currently [gitRepo.js](https://github.com/madlabsinc/mevn-cli/blob/master/lib/commands/deploy/gitRepo.js) validates whether `git` is installed within the user's machine and prompts to type in (Y/N) such that if it should continue with the installation or not.

[2019-03-04 18:57] khyati18 commented on #81
Hello Sir, sorry to start late.Can you please elaborate with issue ?

[2019-03-05 03:08] ajomadlabs commented on #81
@khyati18 So I would recommend this prompt appearing after the user has chosen his app name.

[2019-03-05 04:23] anto-christo commented on #71
Fixed in #92

[2019-03-05 04:23] #71 closed

[2019-03-06 05:12] agarwalrounak commented on #78
I will work on this issue now.

[2019-03-06 08:07] jamesgeorge007 commented on #73
Done in #94

[2019-03-06 08:07] #73 closed

[2019-03-06 08:39] aquibbaig commented on #74
I can try this issue!

[2019-03-06 14:54] anto-christo commented on #74
@aquibbaig sure, go ahead 👍

[2019-03-09 17:02] jamesgeorge007 opened #95 "Update commands section within docs"
- Remove `Server Commands` section.
- Rename `General Commands` to `Available Commands`.
- Add missing entries within the list of `Available Commands`.
- Change `mevn run client/server` to `mevn serve`

This is the file to work with: [README](https://github.com/madlabsinc/mevn-cli/blob/master/docs/guide/README.md)

[2019-03-10 07:37] mansim3006 commented on #90
can I work on this issue?

[2019-03-10 07:42] anto-christo commented on #90
Sure, go ahead 👍

[2019-03-11 11:55] jamesgeorge007 commented on #80
There have been couple of changes to the project structure as on release `v1.2.0`

[2019-03-11 11:58] agarwalrounak commented on #78
@ajomadlabs @jamesgeorge007 Can you please let me know what exactly is to be done? I am sorry but I can't seem to clearly understand the issue.

[2019-03-11 16:19] amitsin6h commented on #91
I would like to work on this feature. Please assign me

[2019-03-11 16:37] anto-christo commented on #91
Assigned!! All the best :+1:

[2019-03-13 05:18] ajomadlabs commented on #78
@agarwalrounak Sorry for the delayed response, so right now the documentation is done using vuepress. Vuepress is basically a static site generator made with vue. You could checkout more on vuepress [here](https://vuepress.vuejs.org/).

Present scenario we have written the enitre documentation in one single mardown file. So we would like you to separate the documentation into separate markdown fil

[2019-03-13 08:33] agarwalrounak commented on #78
Is the documentation deployed/online somewhere?

[2019-03-14 06:41] ajomadlabs commented on #78
@agarwalrounak Yes, you could check [this](https://mevn.madhacks.co/)

[2019-03-14 06:42] ajomadlabs commented on #91
@amitsin6h How's the progress

[2019-03-14 06:56] amitsin6h commented on #91
@ajomadlabs I working today itself. While working I found something strange.
When I did mevn init <appname>
after that I got the below list of commands
but what I found is mevn-cli does not works only mevn works.
I just want to know is it changed from mevn-cli to mevn or something is wrong with my setup

[2019-03-14 07:10] amitsin6h commented on #91
@anto-christo @ajomadlabs  to test the git installation I removed the git from my system. After that I run `mevn init <appname>`
below are the results
[code]

Do I have to check if the user does not have git installed in his system then ask user to install git with yes /  no option ?
Please let me know .

[2019-03-14 07:42] amitsin6h commented on #91
@jamesgeorge007 @ajomadlabs  sorry for the trouble. I solved it after latest code merger from upstream branch.

[2019-03-14 07:56] amitsin6h commented on #91
@anto-christo @ajomadlabs I am working the latest code now.

I removed the git from my system using 'sudo apt-get remove git'
Then I tried to create the project using 'mevn init <appname>'
But below is the error that came
![Screenshot from 2019-03-14 13-15-35](https://user-images.githubusercontent.com/12906090/54339827-f18c9000-465b-11e9-8db7-0627fe0bbd17.png)

Second time I installed the git in m

[2019-03-14 12:44] souka1 commented on #95
I would like to work on it

[2019-03-14 15:32] jamesgeorge007 commented on #95
@souka1 Sure, Go ahead :clap:

[2019-03-15 04:26] ajomadlabs commented on #91
@amitsin6h Yeah, just handle that exception and let us know

[2019-03-20 06:11] ani-sha commented on #90
Can I work on this issue?

[2019-03-20 15:04] aquibbaig commented on #82
I would like to do this!

[2019-03-21 02:57] jamesgeorge007 commented on #82
@aquibbaig Kindly make the changes for #98 as suggested.

[2019-03-21 15:40] jamesgeorge007 commented on #95
Done in #99

[2019-03-21 15:40] #95 closed

[2019-03-23 07:59] anto-christo commented on #90
Hi @ani-sha , glad to see you interested in this issue. But this has already been assigned to another participant. The other participant is hopefully working on it and may send a PR. We can assign you this if the previous participant fails to do so. Till then I request you to have a look at other issues. I recommend you #81 . The participant assigned to #81 has not been responsive, so if you are i

[2019-03-24 14:19] #80 closed

[2019-03-26 09:24] ANURADHAJHA99 commented on #66
@jamesgeorge007 I would like to work on this issue.However can you please guide me about the process?

[2019-03-26 12:15] jamesgeorge007 commented on #66
@ANURADHAJHA99 Currently all the boilerplate templates are based on `express.js` which is a Node.js based framework. It should be extended inorder for the user to choose from couple of other popular frameworks out there such as `Hapi.js`, `Kraken.js`, `Sails.js` to mention a few.

[2019-03-26 12:17] jamesgeorge007 commented on #66
@ANURADHAJHA99 Currently all the boilerplate templates are based on `express.js` which is a Node.js based framework. It should be extended in such a way that the user is allowed to choose from a framework of choice such as `Hapi.js`, `Kraken.js`, `Sails.js` to mention a few.

[2019-03-26 12:21] jamesgeorge007 commented on #50
@hansika Are you working on this?

[2019-03-26 17:50] ANURADHAJHA99 commented on #66
@jamesgeorge007 am I suppose to make template for each of the following frameworks?

[2019-04-02 06:12] ani-sha commented on #90
@anto-christo Sorry for the late reply I was out of station.
Yes i would like to work on #81 issue. Please assign me.

[2019-04-02 07:09] ani-sha commented on #81
@anto-christo Please assign me this issue. I would like to work on it.

[2019-04-02 07:11] anto-christo commented on #81
@ani-sha you can go ahead with this.

[2019-04-02 07:13] anto-christo commented on #81
@khyati18 due to no response from your end regarding the progress of this issue, it has been assigned to another participant. You are still welcomed to choose another issue and contribute if interested.

[2019-04-08 04:36] codehansika commented on #50
I m willing to work on this issue

[2019-04-08 04:36] anto-christo commented on #50
@codehansika, go ahead 👍

[2019-04-22 00:46] amitsin6h commented on #64
I have started to work on this.

[2019-05-02 06:46] amitsin6h commented on #65
I will also work on this please assign me.

[2019-05-18 13:04] #91 closed

[2019-05-18 13:05] #90 closed

[2019-05-20 18:22] #74 closed

[2019-05-23 20:45] aquibbaig commented on #78
I don't think there is much progress here, I will gladly take this issue up

[2019-05-24 07:12] jamesgeorge007 commented on #78
@aquibbaig Go ahead :+1:

[2019-05-27 04:40] #78 closed

[2019-06-01 05:29] jamesgeorge007 commented on #66
@ANURADHAJHA99 Are you still working on this :thinking:

[2019-06-01 05:30] jamesgeorge007 commented on #50
@codehansika Any updates :thinking:

[2019-06-01 05:31] jamesgeorge007 commented on #64
@amitsin6h Any updates?

[2019-06-01 05:39] amitsin6h commented on #64
I'll submit the PR today. Was busy due to exams :p

On Sat, Jun 1, 2019, 11:01 AM James George <notifications@github.com> wrote:

[2019-06-01 18:09] abhijithvijayan commented on #50
where exactly is the upgrade needed?

[2019-06-02 02:04] jamesgeorge007 commented on #50
@abhijithvijayan Thank you showing interest :clap: As per now all the boilerplate templates are based on webpack `v3`. What intended is a dedicated command such as `mevn configure` with an entry for `v4` migration. Check out these [guidelines](https://webpack.js.org/migrate/4/)

[2019-06-02 02:45] abhijithvijayan commented on #50
It is a long path, but I guess I could look at it during free time.

[2019-06-02 02:49] jamesgeorge007 commented on #50
Feel free to reach out :+1:

[2019-07-18 02:20] jamesgeorge007 commented on #50
As per `v1.6` release, the boilerplate templates use webpack v4 under the hoods.

[2019-07-18 02:20] #50 closed

[2019-10-01 16:24] jamesgeorge007 opened #138 "Write unit tests"
- [ ] `mevn init`
- [ ] `mevn codesplit`
- [ ] `mevn generate`
- [ ] `mevn add`
- [ ] `mevn serve`
- [ ] `mevn dockerize`
- [ ] `mevn deploy`

[2019-10-03 04:51] IsAmrish commented on #67
@jamesgeorge007 can you give some ref for it?

[2019-10-03 11:22] anooppoommen commented on #138
@jamesgeorge007 Hey is this up for grabs

[2019-10-03 11:35] konsvasi commented on #66
Hi, I would like to take a look at this issue. I guess nobody is working on that correct?

[2019-10-03 11:49] jamesgeorge007 commented on #66
@konsvasi go ahead :+1:

[2019-10-03 11:51] jamesgeorge007 commented on #138
@anooppoommen yeah, it is :+1: Let me know the command that you're willing to work on.

[2019-10-03 11:58] jamesgeorge007 commented on #67
@IsAmrish `vue-cli` has got a `ui` command which allows the user to set up their project from a web-based UI. We're gonna follow a similar approach.

[2019-10-04 11:58] anooppoommen commented on #138
@jamesgeorge007 I'll work on the mevn init function for now

[2019-10-05 01:53] cherryWood55 commented on #138
I want to work on this issue.

[2019-10-05 05:57] jamesgeorge007 commented on #138
@cherryWood55 you may take up a command other than `mevn init`

[2019-10-05 18:36] otaviopace commented on #138
Where is the `mevn init` unit test?

[2019-10-06 07:35] jamesgeorge007 commented on #138
@otaviopace as of now we are missing out on unit tests (testing out the workflow in isolation). Feel free to pick up a command that you wish to work upon.

[2019-10-06 13:35] jamesgeorge007 opened #139 "Adopt commitlint standards"
We're gonna follow commitlint standards while framing up the commit messages.
Refer these [guidelines](https://commitlint.js.org/#/guides-local-setup).

- [ ] install `commitlint-cli` as a `dev-dependency`.
- [ ] configure `pre-commit`  hook with `husky`.
- [ ] update docs to include a dedicated section regarding how to write commit messages based on the standards.

[2019-10-06 16:29] klauskpm commented on #139
I would like to work on this.

[2019-10-06 16:34] jamesgeorge007 commented on #139
@klauskpm sure, feel free to shoot up a PR :+1:

[2019-10-07 13:44] nasr18 commented on #67
its not that much simple. need complete front-end app. right?

[2019-10-07 13:50] jamesgeorge007 commented on #67
@nasr18 yeah, it is a bit complex and requires to have collaborative effort.

[2019-10-07 13:51] jamesgeorge007 commented on #139
Done in #140

[2019-10-07 13:51] #139 closed

[2019-10-08 21:19] jankolincak commented on #82
Hello, Is this issue still alive? I would like to try this issue as my first contribution

[2019-10-09 15:10] aquibbaig commented on #82
@jankolincak Sure, go ahead

[2019-10-20 15:19] peoray commented on #67
What's the status on this? I'll like to contribute.

[2019-10-20 15:24] jamesgeorge007 commented on #67
Sure, feel free.

On Sun, 20 Oct, 2019, 8:49 PM Emmanuel Raymond, <notifications@github.com>
wrote:

[2019-10-23 03:28] ais-one commented on #66
Just a comment you can ignore. I have tried quite a few frameworks (feathers, loopback, adonis, koa, hapi etc.). I personally still feel that my goto framework will be express, not difficult to find what you need...

[2019-10-23 08:53] jamesgeorge007 commented on #66
@ais-one Express.js is pretty minimalistic and depends on other third-party libraries when it comes to other services. All other frameworks built on top of Express.js come shipped with these required features as you may know. Anyways, it depends on the use case.

[2019-10-24 05:48] ThakurKarthik commented on #138
@jamesgeorge007 i am taking ```mev info```.Is it okay?

[2019-10-26 13:01] abhijithvijayan opened #142 "Upgrade execa"
The package `execa` has so many updates and deprecated options.

Shouldn't this be updated?

[2019-10-26 16:58] jamesgeorge007 commented on #142
Feel free to shoot a PR :clap:

[2019-10-26 17:00] jamesgeorge007 commented on #142
It seems this is gonna introduce breaking changes due to the API changes.

[2019-10-26 17:01] abhijithvijayan commented on #142
But first, if a list of commands used could be sorted and listed, that would be easier for as to check if deprecated or not

[2019-10-26 17:03] abhijithvijayan commented on #142
execa.syncShell is to be replaced with

execa(command, {shell: true})

[2019-11-01 19:14] aquibbaig commented on #82
Hey @jankolincak You working on this yet?

[2019-11-01 19:45] jankolincak commented on #82
yes, sorry for beeing inactive for a while

[2019-11-02 12:21] abhijithvijayan commented on #142
Is this ready to be worked on?

[2019-11-03 16:28] micksi commented on #66
Doesn't MEVN lose its meaning if you use another framework than express. In that case the CLI should be renamed to something else to reflect that it is no longer solely based on express.

[2019-11-04 13:42] aquibbaig commented on #82
@jankolincak Progress?

[2019-11-04 18:31] jankolincak commented on #82
got installation process, and now dealing with config files for individual runners

[2019-11-06 06:03] jamesgeorge007 commented on #66
@micksi apologies for the delayed response. The idea is pretty simple, extend the capabilities based on what the user requires. As you may know, `Express.js` is pretty minimalistic which depends on other third-party libraries to get stuff done. We want to ensure that we target those sectors of the Developer community who prefer to go with the rest of the available Node.js based server-side framewo

[2019-11-20 20:53] mzmarshall1278 opened #148 "client not serving in the nuxt template"
The client is not serving after I added third party packages.
After I installed the MEVN CLI, and created a project.
The first time I selected the nuxt template with PWA support, the server was served, but the client was throwing an error.
I created a new project with the basic template, everything was working perfectl
But when I installed Axios, Vuetify, Vuex, the frontend stopped serving

The cl

[2019-11-28 16:40] aquibbaig commented on #148
Hi, @mzmarshall1278. It would be of great help if you can show the error here.

[2019-12-06 10:28] AlMuz opened #151 "[chore]: deploy command is buggy"
**Describe the bug**
Hello.
I tried to deploy project using `mevn deploy`(using git) but it always return this error:

After that, when i tried to execute this command again its create another one heroku app instead of using existing one.

Maybe there is possible to detect connected git remote url and if it exists - dont create new app.

Also there must be more information for deployment section(

[2019-12-06 12:04] jamesgeorge007 commented on #151
@AlMuz thank you for raising the issue. Deployment to Heroku platform seems to be buggy. Wanna shoot a PR for this? Meanwhile if you are just having a SPA go with `surge`.

[2019-12-12 05:21] aquibbaig commented on #151
@AlMuz Thanks for raising this issue. Mind if I work on this?

[2019-12-12 07:19] AlMuz commented on #151
@aquibbaig Hello. Go on. Because i dont really know how to fix it..

[2019-12-23 18:06] jamesgeorge007 opened #155 "Write e2e tests"
Write unit tests for all the available commands.
- [x] `mevn -h | mevn --help`
- [x] `mevn -v | mevn --version`
- [x] `mevn junkcmd` -> warns on unknown command
- [x] `mevn ini` -> command suggestion
- [ ] `mevn init`
- [ ] `mevn codesplit`
- [ ] `mevn generate`
- [ ] `mevn add`
- [ ] `mevn serve`
- [ ] `mevn dockerize`
- [ ] `mevn deploy`
- [x] `mevn info` (@ThakurKarthik)

[2019-12-27 08:05] jamesgeorge007 opened #156 "Migrate to enquirer"
## Present Scenario
We're currently using [inquirer.js](https://github.com/SBoudrias/Inquirer.js/) for the interactive prompts. This has led to a huge rise in the bundle size as inquirer depends on a couple of packages.

## Proposed Solution
 Switch to [enquirer](https://github.com/enquirer/enquirer).

[2019-12-27 08:07] jamesgeorge007 opened #157 "Migrate to kleur"
Since the bundle size is a concern.

[2020-01-17 13:12] aquibbaig commented on #156
Hey @jamesgeorge007. Can I work on this one here? Cause it will make me catch up with the work till now!

[2020-01-17 13:16] jamesgeorge007 commented on #156
@aquibbaig yeah ofc :clap:

[2020-02-13 08:50] abhijithvijayan commented on #142
Feel free to assign this to somebody else.

I may not get time to get back to this.

[2020-03-08 08:45] pksjce opened #164 "Open client service in the browser with correct port after vue-cli-service starts"
**Describe the bug**
After creating a basic project, I tried to serve the client and the browser opened up at the wrong port

**To Reproduce**
mevn init // create a new project
mevn serve // shows options client/server
choose client
Opens up the browser with port 8080 and it is blank.
The actual app had launched at a different port.

**Expected behavior**
It must open up in the port sent by `launc

[2020-03-09 16:56] jamesgeorge007 commented on #142
Not of higher priorities.

[2020-03-09 16:56] #142 closed

[2020-03-29 10:30] jamesgeorge007 commented on #164
Fixed in `v1.7.0`

[2020-03-29 10:30] #164 closed

[2020-03-29 10:31] jamesgeorge007 commented on #151
Fixed in [v1.7.0](https://github.com/madlabsinc/mevn-cli/releases/tag/v1.7.0)

[2020-03-29 10:31] #151 closed

[2020-03-29 10:35] jamesgeorge007 commented on #156
[enquirer](https://github.com/enquirer/enquirer) would be a better choice as it has got a similar API.

[2020-03-29 10:49] #43 closed

[2020-03-31 19:05] imrishabh18 commented on #157
@jamesgeorge007 Hey, i am a beginner can i work on this issue ?

[2020-04-01 06:40] jamesgeorge007 commented on #157
@imrishabh18 yeah sure 👍

[2020-04-01 16:27] imrishabh18 commented on #157
@jamesgeorge007 Can you please explain me what should i do to migrate to kleur ?

[2020-04-01 16:36] jamesgeorge007 commented on #157
Just install `kleur` as a dependency - `npm install --save kleur`
Since it replaces `chalk`, just remove it - `npm uninstall --save chalk`
Hereafter you can forward updating all instances of `chalk` with `kleur`. Make sure that you refer the [API docs](https://github.com/lukeed/kleur#api).

[2020-04-01 16:37] jamesgeorge007 commented on #157
Just install `kleur` as a dependency - `npm install --save kleur`
We no longer need `chalk` - `npm uninstall --save chalk`
Hereafter you can forward updating all instances of `chalk` with `kleur`. Make sure that you refer the [API docs](https://github.com/lukeed/kleur#api).

[2020-04-01 20:27] imrishabh18 commented on #157
I was checking the API docs of kleur they are using this format to import colors `const { red, blue } = require('kleur')` . But this mevn-cli are using some import statement. So, how do i work around this ? And can you please also tell me where can i see the changes i am making in the code in action.

[2020-04-02 13:00] jamesgeorge007 commented on #157
Our codebase is based on `es2015` standards. Please Read through the [contributing guidelines](https://github.com/madlabsinc/mevn-cli/wiki/Contributing-Guidelines). Do join the [chatroom](https://t.me/mevn_cli) and you can find me there.

[2020-04-10 12:07] jamesgeorge007 opened #171 "Revamped add command"
The `add` command is meant to install dependencies on the go.
Looking forward there're 2 things worth considering:-

1. Have the provision to provide dependencies as an argument to the `add` command.
Say, `mevn add axios`

2. Presently it just works with the `client` side, what intended is to extend the functionality such that the user can choose between `client` / `server` directory while install

[2020-05-10 06:45] haxzie opened #172 "Invalid nuxt config module injection during launch"
**Describe the bug**
The `serve` command fails due to syntax errors in `nuxt.config.js` file. This occurs due to redundant module injection happening while configuring PWA dependencies. A simple check to see if the project is already configured for PWA before installing the dependencies and modifying the `nuxt.config.js` can solve this problem.

**To Reproduce**
Run the following commands are ran

[2020-05-10 07:44] #172 closed

[2020-05-12 07:46] #171 closed

[2020-06-21 17:20] 716green commented on #64
I'd like to contribute to adding MySQL. I use MEVN-CLI with MySQL daily. Can we create a subtask for MySQL with the [Node MySQL JS](https://github.com/mysqljs/mysql) connector? I'm new to open-source contributions but I'm deep in the trenches with Node/MySQL.

[2020-06-21 17:53] jamesgeorge007 commented on #64
Hey, @716green thanks for showing interest. As you might have noticed this issue is of low priority at the moment, support for `MySQL` is of-course on the roadmap (preferably the `sequelize` ORM). Right now the focus is on the next minor release: [V1.8.0](https://github.com/madlabsinc/mevn-cli/pull/170), would love to hear your feedback.

[2020-06-25 17:49] jamesgeorge007 opened #176 "Set up MongoDB configurations automatically with mevn generate"
`mevn generate` aims to provide a CRUD boilerplate template so the users can work on top of it.
https://github.com/madlabsinc/mevn-cli/blob/6688a3d25a658f01ff302302cf850b9976de6529/src/templates/server/basic/server.js#L5
https://github.com/madlabsinc/mevn-cli/blob/6688a3d25a658f01ff302302cf850b9976de6529/src/templates/server/basic/server.js#L27-L36

Have a helper with the necessary configuration a

[2020-06-25 17:50] danivijay commented on #176
@jamesgeorge007 I'll try implementing this.

[2020-07-05 16:12] avdrav opened #177 "mevn deploy to heroku issues"
**Describe the bug**
I'm attempting to deploy a fairly fresh set of changes to heroku.  However, after I make the change, I get the message --> NO CHANGES DETECTED.  I am definitely making changes and git is detecting them.  But for some reason, the deploy script won't detect them.

**To Reproduce**
Using this public repo for now --> https://github.com/avdrav/imfcharts

**Expected behavior**
Expec

[2020-07-05 17:42] jamesgeorge007 commented on #177
I assume things went well when you ran `mevn deploy` for the very first time. Can you please elaborate the changes you made prior to firing in `mevn deploy` for the second time?
I did gave it a try on your repo and things were working fine.

[2020-07-05 18:04] avdrav commented on #177
correct it happens on the second try.  it worked great on the initial push.

i made some very simple changes adding a connector to a mongodb atlas instance.  i also made a call to the reddit api.  thats it.

[2020-07-05 18:13] avdrav commented on #177
https://github.com/avdrav/imfcharts/commits/master

[2020-07-05 18:14] jamesgeorge007 commented on #177
That's strange. Can you please give it a try on the `beta` release and confirm if things remain the same - `mevn-cli@beta`

[2020-07-05 18:16] avdrav commented on #177
whats the cleanest way to switch to the beta?  uninstall and re-install using npm?

[2020-07-05 18:21] avdrav commented on #177
ok tried that.  upgraded to v1.7.5 of mevn-cli and still getting the same error.  No changes detected

[2020-07-05 18:21] avdrav commented on #177
hmm looks like i was already on the beta?

[2020-07-05 18:23] avdrav commented on #177
are you able to reproduce on your end after making a simple change to the codebase?

[2020-07-05 18:26] jamesgeorge007 commented on #177
`npm i -g mevn-cli@beta`

[2020-07-05 18:27] jamesgeorge007 commented on #177
Nope, I made a slight change to one of the components firing in `mevn deploy` did the job.

[2020-07-05 18:51] jamesgeorge007 commented on #177
Your latest commit targets the `server` directory. As of `v1.7.5` there isn't the provision to deploy the `server`. It is just the `client` directory which is being watched.

[2020-07-05 19:32] avdrav commented on #177
so how to deploy the server piece now?

[2020-07-05 19:37] avdrav commented on #177
yes it works when i touch the client.  but im confused as to how to deploy the server/api piece now.  my assumption was that mevn deploy does both.  bad assumption?

[2020-07-05 19:51] avdrav commented on #177
thanks for all your help btw!

[2020-07-06 04:13] jamesgeorge007 commented on #177
As I said `v1.7.5` doesn't include the provision to deploy the server. It is gonna come up with the next minor release: `v1.8.0` which is in `beta` right now.

[2020-07-06 06:37] jamesgeorge007 commented on #177
@avdrav if you feel your issue has been resolved, feel free to close this issue :)
And if you're liking the project don't forget to leave a ⭐
Looking forward to having your very first contribution to the project 🙌

[2020-07-06 14:36] avdrav commented on #177
Awesome -- will the beta version create Procfile?  How will it run the server on Heroku?

[2020-07-06 15:05] jamesgeorge007 commented on #177
Nope, both of em are deployed as seperate apps to Heroku.

[2020-07-06 17:12] avdrav opened #179 "Looking to use the beta version to deploy to Heroku"
How can I deploy both client and server to Heroku using 1.8.0?

[2020-07-06 17:14] #179 closed

[2020-07-06 17:22] jamesgeorge007 commented on #177
I'm gonna close it for now. Feel free to shoot your queries here :)

[2020-07-06 17:22] #177 closed

[2020-07-06 17:24] jamesgeorge007 commented on #156
Not of higher priorities.

[2020-07-06 17:24] #156 closed

[2020-07-06 17:25] jamesgeorge007 commented on #157
Not of higher priorities

[2020-07-06 17:25] #157 closed

[2020-07-06 23:54] avdrav commented on #177
So i tried to deploy the server using 1.8.0-beta.5
Here is the error I get.  I works locally.

`2020-07-06T17:15:43.539338+00:00 app[web.1]: SyntaxError: Cannot use import statement outside a module
2020-07-06T17:15:43.539339+00:00 app[web.1]: at wrapSafe (internal/modules/cjs/loader.js:1054:16)
2020-07-06T17:15:43.539339+00:00 app[web.1]: at Module._compile (internal/modules/cjs/loader.js:1102:27

[2020-07-07 13:09] avdrav commented on #177
@jamesgeorge007 any thoughts on this?  still stuck at this error when I try the heroku server deploy

[2020-07-07 13:24] jamesgeorge007 commented on #177
Apologies for the delay in response. I can see that your codebase consumes `ES6` syntax (`import` statements).
https://github.com/avdrav/imfcharts/blob/437257b03d99e5d20db15bab97613e0e3c0b4c35/server/server.js#L2
[code]
You can get it working by converting them to the `es5` equivalent. Or if you prefer to have modern syntax, make use of a transpiler like `babel` or something like [esm](https://git

[2020-07-07 15:49] #176 closed

[2020-07-07 18:00] jamesgeorge007 commented on #177
@avdrav I had sent you a connection request in LinkedIn, let's connect 👍

[2020-07-08 17:15] danivijay opened #180 "feat: Default model enhancements and API error handling"
**Is your feature request related to a problem? Please describe.**
The default scaffolded model a bit limited, and there is some room for improvement in the error handling part of the API.

**Describe the solution you'd like**
Changes in Model
- Auto-generated ID
- Timestamps

Changes in Controller
- JSON response for queries
- Error handling

**Describe alternatives you've considered**
Considered

[2020-07-08 17:39] jamesgeorge007 commented on #180
Feel free to shoot a PR 👍

[2020-07-08 17:47] avdrav commented on #177
But shouldn't the build/deploy process take this into account?  I haven't written any custom code yet -- just trying to deploy the Hello World example basically.

[2020-07-08 17:47] avdrav commented on #177
@jamesgeorge007

[2020-07-08 17:54] avdrav commented on #177
Also why does it work locally but not on the deploy?

[2020-07-08 17:56] jamesgeorge007 commented on #177
The latest release (v1.7.5) seems to be using `ES6` syntax for the server side template.

[2020-07-13 15:04] #180 closed

[2020-08-30 13:16] pradsdev commented on #67
I would like to contribute, Does anybody have any plans or ideas to start with?

[2020-09-21 15:36] lenkrasinski opened #187 "When starting in localhost mode, mongo error"
starting in localhost mode
When I start the server using npm run dev I get the following error, **I must be missing something**

Listening On http://localhost:9000/api
Mongo CONNECT error: MongooseServerSelectionError: connect ECONNREFUSED 127.0.0.1:27017
    at NativeConnection.Connection.openUri (/Users/leonardrkrasinski/Documents/Docker/mevn/todo/server/node_modules/mongoose/lib/connection.js:8

[2020-09-21 18:16] jamesgeorge007 commented on #187
Please make sure that the MongoDB service is up and running.

[2020-09-26 07:21] jamesgeorge007 commented on #187
Closing, feel free to continue the discussion here.

[2020-09-26 07:21] #187 closed, assigned to nobody

[2020-10-04 02:20] meroware commented on #138
@jamesgeorge007 I shall take `generate` if no one else has `https://github.com/madlabsinc/mevn-cli/blob/develop/src/commands/basic/generate.js`. But I did notice that there is no jest setup for unit tests only e2e. I can include the setup in my PR as well, but wondering what's the plan on that part.

[2020-10-12 15:32] jamesgeorge007 commented on #138
@meroware thanks for showing interest, we don't have any unit tests at the moment. Feel free to shoot a PR.

[2020-10-12 16:26] jamesgeorge007 opened #191 "migrate to leven for suggesting the closest match"
[didYouMean.js](https://www.npmjs.com/package/didyoumean) is not maintained anymore. It is better to migrate to [leven](https://www.npmjs.com/package/leven).

[2020-10-12 16:28] jamesgeorge007 commented on #191
- `npm i -S leven`
- `npm uninstall didyoumean`

[code]

[2020-10-13 07:47] #191 closed, assigned to nobody

[2020-10-17 01:03] Pieter-Uys opened #193 "mevn init fails on windows"
## Do you want to request a feature or report a bug?
**Think its a bug**
## What is the current behavior?
If the current behavior is a bug, please provide the steps to reproduce.
**If I use mevn init <appname> (used my own appname like cookies to test it out) and selected default => single page app => nodejs hosting =>   server side template (I selected yes)**
## What is the expected behavior?
If

[2020-10-21 04:34] jamesgeorge007 commented on #193
[init.js](https://github.com/madlabsinc/mevn-cli/blob/develop/src/commands/basic/init.js)
[code]

Feel free to send a fix.

[2020-10-21 08:28] nerrevar opened #196 "mevn init fails on PWA template"
**Describe the bug**
mevn init requires PWA folder for creating from template. There is pwa folder.

**To Reproduce**
mevn init -> choose PWA

**Additional context**
Just rename folder pwa -> PWA. After that mevn works good.

[2020-10-21 09:15] open-source-explorer commented on #196
@nerrevar can you provide more details, possibly a screenshot? Also, are you on a windows machine?

[2020-10-21 17:48] #193 closed, assigned to nobody

[2020-11-02 22:48] Pieter-Uys opened #199 "Vuetify not working properly"
## Do you want to request a feature or report a bug?
Think its a bug

## What is the current behavior?
If the current behavior is a bug, please provide the steps to reproduce.
If you add vuetify to either vue or nuxt.js via mevn add it doesn't add it correctly thus not everything in vuetify works perfectly.
I've tried playing with a button adding elevation its non existent tried adding color="red"

[2020-11-02 23:04] Pieter-Uys commented on #199
Just FYI if you you create a nuxt.js app from scratch and name it client, go through the nuxt.js cli and add everything that you want it works perfectly when you run "**mevn serve**" => **client**

[2020-11-04 08:11] #196 closed, assigned to nobody

[2020-11-21 03:25] 314isme opened #203 "socket.io and MEVN cli"
Hi,

First I'm really new to node.js vue.js etc so I appologize if my question is a nonsense one.
I was wondering if any of you add setup socket.io using this cli?

I am using nuxt-socket-io on the client side, all is working nicely but on the server side
I got an 404 error on my localhost:9000/socket.io

I was thinking it may be because of MVC view or something about the router.
Here is my server

[2020-12-10 14:30] jamesgeorge007 opened #207 "bump commander.js to v6"
Currently, the project depends on [commander.js v2](https://www.npmjs.com/package/commander/v/2.20.3) while we have [v6](https://www.npmjs.com/package/commander/v/6.2.0) as the latest stable release. We can safely bump the package.

[2020-12-10 14:36] jamesgeorge007 commented on #207
[code]

https://github.com/madlabsinc/mevn-cli/blob/develop/src/cli.js

[code]

[2020-12-17 17:12] Creatoon commented on #207
@jamesgeorge007 Can you please elaborate the issue, I want to work on this.

[2020-12-17 17:25] Creatoon commented on #207
working on this

[2020-12-18 06:57] #207 closed, assigned to Creatoon

[2021-01-01 01:10] Creatoon commented on #155
@jamesgeorge007 I want to write test for mevn serve, can i ?

[2021-01-17 15:06] saideepesh000 commented on #155
- Hey, are u still working on mevn serve command, please let me know.

[2021-03-02 16:01] JohnMica commented on #203
not sure that  in the following script `fetch()` has any meaning
[code]

- calling it empty `fetch()` will do nothing since you dont provide any params
- if this function is supposed to do something like fetch feeds, perhaps you can refactor it to be a vue 'method' and call
[code]

[2021-05-07 06:29] koaps opened #220 "Serve for the client uses a hardcoded port"
The client port is hardcoded which makes it not possible to provide an alternative port via the package.json.

### Steps to reproduce the behavior:
[code]

### Expected behavior:
to be able to specify port and host in the package.json for scripts
[code]

Modified `/usr/lib/node_modules/mevn-cli/lib/commands/serve/launch.js`
From:
[code]

To:
[code]

Now it works as expected:
[code]

[2021-05-09 11:48] ajomadlabs commented on #220
@koaps Would like you to open a PR for this issue

[2021-05-09 14:51] koaps commented on #220
@ajomadlabs sure I can, but I wasn't sure how you would like to handle it.

I'm still new to javascript (I mostly do python) and not that familiar with the other frameworks but if they are running a npm script similar to what Nuxt does, my preference would be to remove any code in launch.js for setting the port and put any port overrides needed in the package.json in the starter-templates.

[2021-05-09 17:05] ajomadlabs commented on #220
@koaps It's not a problem even if you are new to javascript. Would always love to see you open a PR resolving this bug post which I could review on it. I probably think giving the flexibility for the users to override the port is necessity.

[2021-05-10 08:41] jamesgeorge007 commented on #220
I'd suggest making the following changes in [src/commands/serve/launch.js](https://github.com/madlabsinc/mevn-cli/blob/develop/src/commands/serve/launch.js)

[code]

[2021-05-10 16:32] koaps commented on #220
might want to do the same for the server.

it's a bit easier to override since I could edit server.js or the port env var, but probably better to allow it to be set in package.json.

I was able to override it to port 8008 but the server startup message still says its going to uae 9000.

[2021-09-14 22:00] #203 closed, assigned to nobody

[2022-04-05 23:22] slzakaria commented on #67
Hello ! i would love to help on this task, what's the current situation of the ui part ?